.btn.btn-outline-primary{
    border-color: #63A49D;
    color: #63A49D;
}

.btn.btn-primary{
    background-color: #63A49D;
    border-color: #63A49D;
}

.btn.btn-outline-primary:hover{
    background-color: #63a49d;
    color:white;
}

.btn-primary:focus{
    background-color: #63a49d;
    border-color: #63a49d;
    box-shadow: 0 0 0 0.25rem #63a49d80;
}

a:hover{
    color:#63A49D;
}

option.form-select:hover{
    background-color:#63A49D;
}

input:focus,
select:focus{
    border-color: #83C5BE;
    box-shadow: 0 0 0 0.25rem #83c5bf85;
}
